﻿@import url(https://fonts.googleapis.com/css?family=Raleway);

$theme_color: #c21a00;
$theme_color_dark: #991400;
$background_color: #e9eaee;
$main_border_color: #e6e6e6;

body{
	margin: 0;
	overflow: auto;
	font-family: "Raleway", serif;
  background-color: $background_color;
}

.default-icon-size{
  width: 50px;
  height: 50px;
}

.hidden{
  display: none !important;
}

.center-position{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.unselectable{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/iconfont/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
     local('MaterialIcons-Regular'),
     url(font/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
     url(font/iconfont/MaterialIcons-Regular.woff) format('woff'),
     url(font/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.loader-container{

  & .page-cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    // opacity: 0.9;
    z-index: 1;

  } // .page-cover

  & .loader{
    @extend .center-position;
    position: absolute;
    color: $theme_color;
    z-index: 2;
  }

}

// downloaded loader

.cssload-container {
	width: 100%;
	height: 32px;
	text-align: center;
}

.cssload-tube-tunnel {
	width: 32px;
	height: 32px;
	margin: 0 auto;
	border: 3px solid;
	border-radius: 50%;
	border-color: rgb(194,26,0);
	animation: cssload-scale 900ms infinite linear;
		-o-animation: cssload-scale 900ms infinite linear;
		-ms-animation: cssload-scale 900ms infinite linear;
		-webkit-animation: cssload-scale 900ms infinite linear;
		-moz-animation: cssload-scale 900ms infinite linear;
}



@keyframes cssload-scale {
	0% { transform: scale(0); transform: scale(0); }
	90% { transform: scale(0.7); transform: scale(0.7); }
	100% { transform: scale(1); transform: scale(1); }
}

@-o-keyframes cssload-scale {
	0% { -o-transform: scale(0); transform: scale(0); }
	90% { -o-transform: scale(0.7); transform: scale(0.7); }
	100% { -o-transform: scale(1); transform: scale(1); }
}

@-ms-keyframes cssload-scale {
	0% { -ms-transform: scale(0); transform: scale(0); }
	90% { -ms-transform: scale(0.7); transform: scale(0.7); }
	100% { -ms-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes cssload-scale {
	0% { -webkit-transform: scale(0); transform: scale(0); }
	90% { -webkit-transform: scale(0.7); transform: scale(0.7); }
	100% { -webkit-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes cssload-scale {
	0% { -moz-transform: scale(0); transform: scale(0); }
	90% { -moz-transform: scale(0.7); transform: scale(0.7); }
	100% { -moz-transform: scale(1); transform: scale(1); }
}