@import "generic.scss";

.header-panel{
  width: 100%;
  height: 50px;
  min-width: 400px;
  position: fixed;
  background-color: $theme_color;
  z-index: 1;
  top: 0;

  & > .header-button-container{
    @extend .center-position;
    position: absolute;
    width: 60%;
    height: 100%;
    min-width: inherit;

    & > .header-button-left{

      & > .search-panel{
        @extend .center-position;
        position: absolute;
        width: 40%;
        height: 30px;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;

        &::-webkit-input-placeholder {
          font-weight: 400;
        }

        &:-moz-placeholder {
          font-weight: 400;
        }

        &::-moz-placeholder {
          font-weight: 400;
        }

        &:-ms-input-placeholder {
          font-weight: 400;
        }

        &:focus{
          outline: none;
        }

      } // .search-panel

    }

    & > .header-button-right{
      position: relative;
      float: right;

      & > .header-button{
        @extend .unselectable, .center-position, .default-icon-size;
        position: relative;
        text-align: center;
        color: $theme_color_dark;
        line-height: 50px;
        font-size: 30px;

        &:hover{
          cursor: default;
        }

        &:active{
          color: $background_color;
        }

        &:hover{
          cursor: pointer;
        }

      } // .header-button

      & > .header-button-active{
        color: white;
      } // .header-button-active

      & > .notification-number{
        @extend .center-position;
        position: absolute;
        background-color: #ff2200;
        border-radius: 3px;
        color: white;
        padding: 2px;
        width: 20px;
        height: 13px;
        line-height: 13px;
        margin-top: 6px;
        margin-left: 30px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
      } // .notification-number

    }

  } // .header-button-container

} // .header-panel