@import "generic.scss";

.login-container{
	@extend .center-position;
	position: absolute;
	width: 380px;
	min-width: 380px;
	height: 300px;
	background-color: white;
	color: $theme_color;
	border: solid 1px $main_border_color;

	& .login-label{
		width: 100%;
		height: 75px;
		text-align: center;
		line-height: 75px;
		color: $theme_color;
		font-size: 20px;
	}

	& .login-button-container{
		position: absolute;
		width: 100%;
		height: calc(100% - 225px);

		& > .login-button{
			@extend .center-position;
			@extend  .unselectable;
			position: absolute;
			width: 100px;
			height: 40px;
			margin-top: 10px;
			text-align: center;
			line-height: 40px;
			background-color: $background-color;
			color: white;
			border: solid 1px $main_border_color;

			&:hover{
				background-color: $theme-color;
				cursor: pointer;
			}

			&:active{
				background-color: $theme_color_dark;
			}

		}

	}

	& .credential-error{
		@extend .center-position;
		position: absolute;
		width: 100%;
		height: 40px;
		border-radius: 4px;
		background-color: red;
		margin-top: -50px;
		text-align: center;
		line-height: 40px;
		color: white;

		&:before{
			content: "";
			width: 0;
			height: 0;
			border-top: 8px solid red;
			border-bottom: 8px solid transparent;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			position: absolute;
			left: 45%;
			bottom: -16px;
		}

	}

	& > .credential{
		width: 100%;
		height: 75px;
		position: relative;

		& .login-credential{
			@extend .center-position;
			position: absolute;
			width: 75%;
			height: 40px;
			font-size: 15px;
			padding-left: 10px;
			padding-right: 10px;

			&::-webkit-input-placeholder {
				font-weight: 300;
			}

			&:-moz-placeholder {
				font-weight: 300;
			}

			&::-moz-placeholder {
				font-weight: 300;
			}

			&:-ms-input-placeholder {
				font-weight: 300;
			}

			&:focus{
				outline: none;
				border: solid 1px $theme_color;
			}

		} // .login-credential

	}

}