﻿@using System.Web.Optimization;
@Styles.Render("~/Content/header")
@Scripts.Render("~/Scripts/Shared/Navigation")

<div class='header-panel'>
  <div class='header-button-container'>
  	<div class="header-button-left">
  		<input class="search-panel" placeholder="Church for pee pole">
  	</div>
  	<div id="test-logout" class="header-button-right">
  		<i class='header-button header-button-active material-icons'>account_circle</i>
  	</div>
  	<div class="header-button-right">
  		<i class='header-button header-button-active material-icons'>notifications</i><div class="notification-number">99+</div>
  	</div>
  	<div class="header-button-right">
  		<i class='header-button header-button-active material-icons'>chat_bubble</i><div class="notification-number">3</div>
  	</div>
  	<div class="header-button-right">
  		<i class='header-button header-button-active material-icons'>group</i><div class="notification-number">3</div>
  	</div>
  </div>
</div>